.App {
  display: flex;

  box-sizing: border-box;
  height: 100%;
  align-items: center;
}

.DragContainer {
  display: flex;
  box-sizing: border-box;

  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;

  margin: 0 auto;
  height: 100%;
}

.Cell {
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid #d3cfcd;
  background-color: #aca899;
}

.Cell-clicked {
  background-color: #413b38;
}
